PORT=

MONGO_URI=

FRONT_URL=

JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_ACCESS_LIFETIME=
JWT_REFRESH_LIFETIME=

EMAIL_USER=
EMAIL_PASSWORD=

ACTION_FORGOT_PASSWORD_SECRET=
ACTION_FORGOT_PASSWORD_LIFETIME=

ACTION_CREATE_PASSWORD_SECRET=
ACTION_CREATE_PASSWORD_LIFETIME=