PORT=

MONGO_URI=

FRONT_URL=

JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_ACCESS_LIFETIME=
JWT_REFRESH_LIFETIME=

SMTP_USER=
SMTP_PASSWORD=

ACTION_FORGOT_PASSWORD_SECRET=
ACTION_FORGOT_PASSWORD_LIFETIME=

ACTION_CREATE_PASSWORD_SECRET=
ACTION_CREATE_PASSWORD_LIFETIME=

PRIVATBANK_API_URL=

ADMIN_EMAIL=
ADMIN_PASSWORD=

AWS_ACCESS_KEY=
AWS_SECRET_KEY=
AWS_S3_BUCKET_NAME=
AWS_S3_REGION=
AWS_S3_ENDPOINT=
