<table style="width: 100%; padding: 45px 35px; box-sizing: border-box">
    <tr>
        <td style="font-size: 18px; text-align: center;">
            <h1 style="background-color: paleturquoise; color: darkblue">Hello, {{{name}}}!</h1>
            <p>You have been registered as a manager to our platform</p>
        </td>
        <td style="text-align: center;">
            <p>Your login is: {{{email}}}</p>
            <p style="margin: 17px 0 0;">
                To create a password click the link below:
            </p>
            <a href="{{frontUrl}}/create-password?token={{actionToken}}">Create password</a>
        </td>
    </tr>
</table>